/* Reset de margin e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar .logo {
    width: 100px;
}

.navbar-right .login-btn {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.navbar-right .login-btn:hover {
    background-color: #f40612;
}

/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #000;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.banner-content {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.banner-content button {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.banner-content button:hover {
    background-color: #f40612;
}

/* Lista de Filmes */
.movies-list {
    padding: 20px;
}

.movies-list h2 {
    margin-bottom: 20px;
}

.movie-container {
    display: flex;
    overflow-x: scroll;
}

.movie-container img {
    
    width: 200px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


